/*
This file is part of Vortumigu.

Vortumigu is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vortumigu is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vortumigu.  If not, see <http://www.gnu.org/licenses/>.
*/

@import 'https://fonts.googleapis.com/css?family=Anonymous+Pro|Montserrat';

body {
    margin: 50px;
}

#copyrightNotice {
    color: #aaa;
}

#copyrightNotice, #playerHeadline, #playerList, h1, h2, h3, h4, ol {
    font-family: 'Montserrat', sans-serif;
}

#main {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

#main > :first-child {
    margin-right: 32px;
}

#game > div {
    display: none;
}

#playerList > .playerListTeamA {
    color: red;
}

#playerList > .playerListTeamB {
    color: blue;
}

#playerList > .playerListSpectator {
    color: #aaa;
}

#clock {
    font-family: 'Anonymous Pro', monospace;
    font-size: 65px;
    margin-top: 24px;
}
